@import "tailwindcss";

@font-face {
  font-family: "Liquid Asi";
  src: url("assets/fonts/liquid-asi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-liquid: "Liquid Asi";
}

@theme inline {
  --font-liquid: var(--font-liquid);
}


body {
  padding: 0;
  margin: 0;
}